.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App > * {
  padding: 2rem;
}

svg {
  max-width: 100%;
  flex: 1;
  margin: 0 3rem;
}

footer {
  display: flex;
  align-items: center;
}

.controls {
  display: flex;
  margin-right: 2rem;
}

.control {
  margin: 0 0.5rem;
}

.control label { margin: 0 0.5rem; }
.control input {
  padding: 0.5rem;
  border-radius: 3px;
  border: transparent solid 2px;
  background: rgb(222, 222, 222);
}
.control input:focus {
  border: #840b55 solid 2px;
  outline: none;
}

button {
  margin: 0 0.5rem;
  padding: 0.755rem 1rem;
  width: 10rem;

  font-family: inherit;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;

  border: none;
  color: white;
  background: #840b55;
  border-radius: 3px;

  cursor: pointer;
  transition: background 0.25s ease-in-out;
}

button:hover {
  background-color: hsl(323, 85%, 20%);
}
